

body {
  font-family: 'Muli', sans-serif;
}

.container-fluid{
  background-image: url('../img/hospital.jpeg');
  background-size: 100vw;
  background-repeat: no-repeat;
  text-align: center;
  width: 100vw;
  height: 30vh;
}

.container {
  text-align: center;
}

.header {
  margin-bottom: 30px;
}

.header h1 {
  font-size: 60px;
  letter-spacing: 4px;
}

.box {
  background: #B1E5F2;
  border: 2px solid #16425B;
  padding: 40px 80px;
  text-align: center;
}

.button {
  font-weight: bold;
  text-align: center;
  background: #3A7CA5;
  color: white;
}

label {
  font-size: 16px;
}

.resultsBanner {
  font-size: 20px;
}

.table {
  border: 1px solid black;
  font-size: 16px;
  padding: 20px;
  text-align: left;
}
