$blue : #B1E5F2;

.container-fluid{
  background-image: url('/../../img/hospital.jpeg');
  background-size: 100vw;
  background-repeat: no-repeat;
  text-align: center;
  width: 100vw;
  // margin-left: -10px;
  // margin-right: -10px;
  padding: 20px;
  height: 400px;
}

.container {
  text-align: center;
}
.box {
  background: $blue;
  border: 2px solid #16425B;
  padding: 40px 80px;
  text-align: center;
  .button {
    font-weight: bold;
    text-align: center;
    background: #3A7CA5;
    color: white;
  }
}

.table {
  border: 1px solid black;
}
